.container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  background-color:aliceblue;
}

button {
  width: 15em;
  margin: 0.5em 0.5em;
  background-color: whitesmoke;
}

textarea {
  width: 99%;
  resize:none;
  font-size: 12px;
  overflow-y: scroll;
  background-color: whitesmoke;
}